.user__input {
  border: none;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 13px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
}

.user__input:focus {
  outline: none;
}

.user__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  padding-bottom: 13px;
  opacity: 1;
  background-color: transparent;
}

.user__input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  padding-bottom: 13px;
  opacity: 1;
  background-color: transparent;
}

.user__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  padding-bottom: 13px;
  opacity: 1;
  background-color: transparent;
}

.user__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  padding-bottom: 13px;
  opacity: 1;
  background-color: transparent;
}
