.user__fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 50px;
}

@media screen and (max-width: 500px) {
  .user__fieldset {
    padding-top: 75px;
  }
}
