.header {
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-self: stretch;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 45px 200px 0;
}

@media screen and (max-width: 1000px) {
  .header {
    margin: 0;
    padding: 45px 200px 0;
  }
}

@media screen and (max-width: 850px) {
  .header {
    padding: 40px 100px 0;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 28px 27px 0;
    min-height: 56px;
  }
}

